body{

}



header{
background:
url("https://yaretzi96.github.io/city/projects2/images/hierveagua.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .site-header .navbar-collapse {
    padding:5px;
    transition: all .5s ease-out;
  }
}


#layout-carousel .fade {
    opacity: 1;
    position: relative;
    padding: 5px
  }
  
  @media screen and (min-width: 992px) {
    #layout-float {
      margin: 50px 0 150px 0;
    }
  